@charset "utf-8";
/* CSS Document */
p {
	color: #271472; 
	background-color: aquamarine;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 18px;
	line line-height: 20px;
	width: 600px;
	padding: 15px;	
}
h2 {color: #CABE5B;
	background-color: azure;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 25px;	
}
h3 {color: #DEFA54;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 20px;
	background-color: 		
}
body {
	background-image: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);
}
a:link {
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 25px;
	border: 1px solid #000000;
}
a:hover {
	background-color: azure;	
}
